@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P|VT323&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: blanchedalmond; 
    color: bisque; 
}

.boxCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.boxCenter div {
    border: 10px solid #333; 
    outline: 5px solid darkred;
    border-radius: 50px;
    text-align: center;
    padding: 40px 20px;
    background-color: #1a1a1a; 
    box-shadow: 0px 0px 15px 5px #333; 
}

.boxForm {
    width: 90%;
    animation-name: showForm;
    animation-duration: 0.5s;
}

.boxForm img {
    width: 30%;
    margin: 10px 0px 30px 0px;
    animation-name: moveImgForm2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform: translateX(0px);
}

.boxForm input[type="text"],
.boxForm input[type="password"] {
    width: 90%;
    margin: 10px 0px;
    padding: 10px;
    padding-left: 5px;
    border: none;
    border-bottom: 1px solid darkgreen; 
    margin-top: 20px;
    outline: none;
    background-color: #333; 
    color: bisque; 
    background-image: url('../img/emoji.gif');
    background-repeat: no-repeat;
    background-position: -55px -3px;
    background-size: 35px;
    transition: all 0.5s;
    font-size: 12px;
    text-align: center;
}

.boxForm input[type="text"]:focus,
.boxForm input[type="password"]:focus {
    background-position: left -3px;
}

.boxForm h1 {
    font-size: 5vw;
    text-shadow: 2px 2px 2px darkred; 
}

.boxForm input[type="button"],
.sucess a:link,
.sucess a:visited {
    width: 90%;
    margin: 20px 0px 10px 0px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: darkred;
    color: #fff;
    border: none;
    text-shadow: 2px 2px 1px darkgreen;
    outline: none;
    font-size: 12px;
}

.boxForm input[type="button"]:hover {
    background-color: darkolivegreen; 
}

.boxForm p {
    font-size: 50%;
}

.boxForm a:link,
.boxForm a:visited {
    color: #27556C;
    font-weight: bold;
    font-size: 3vw;
}

@media screen and (min-width: 768px) {
    .boxForm {
        width: 450px;
        animation-name: showForm;
        animation-duration: 0.5s;
        background-color: #006400; 
    }
    .boxForm h1 {
        font-size: 24px;
    }
    .boxForm input[type="text"],
    .boxForm input[type="password"] {
        width: 90%;
        text-align: left;
        padding-left: 45px;
        font-size: 14px;
    }
    .boxCenter div {
        box-shadow: 0px 0px 45px 5px #333;
    }
    .boxForm img {
        width: 100px;
    }
    .boxForm input[type="button"],
    .sucess a:link,
    .sucess a:visited {
        width: 80%;
        padding: 20px;
        font-size: 14px;
    }
    .boxForm p {
        font-size: 14px;
    }
    .boxForm a:link,
    .boxForm a:visited {
        font-size: 12px;
    }
}
